
Remove default hyperlink style
a {
  text-decoration: none;
  color: inherit;
}

/* Footer CSS */
.site-footer {
  background: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
  padding: 30px 0;
}

.site-footer h6 {
  color:  #fed700;
  font-size: 24px;
  margin-bottom: 15px;
  position: relative;
  font-weight: bold;
}

.site-footer h6::after{
  content: '';
  height:3px;
  width:0px;
  background-color:  #fed700;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.3s ease;

}
.site-footer h6:hover::after{
  width: 35px;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer li {
  margin-bottom: 10px;
}

.site-footer a {
  color: #777;
}

.site-footer a:hover {
  color: #333;
}

.site-footer hr {
  margin: 20px 0;
  border-top: 1px solid #e5e5e5;
}

.site-footer .copyright-text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}


/* footer link hover effect */
.site-footer .footer-links a{
font-weight: 500;
display: block;
text-decoration: none;
color:#f2f2f2;
margin-bottom: 5px;
position: relative;
transition: 0.3s ease;
}
.site-footer .footer-links a::before{
content:'';
height: 16px;
width:3px;
position: absolute;
top:5px;
left:-10px;
background-color: rgb(255, 255, 0);
transition: 0.5s ease;
opacity: 0;
}
.site-footer .footer-links a:hover::before{
opacity: 1;
}
.site-footer .footer-links a:hover{
transform: translateX(-8px);
color:yellow;
}

.site-footer .libutton {
  background-color:#c1a403 ;
  color: #555;
  transition: transform .3s;
}
.site-footer .libutton:hover{
  background-color:#eccc18 ;
  transform: scale(1.1);
}
.site-footer .libutton a{
  color: #555;
}

.blog-buttons{
  background-color:#e5c303 ;
  color:rgb(64, 62, 62);
  transition: transform .3s;
}
.blog-buttons:hover{
  background-color:#eccc18 ;
  transform: scale(1.1);
  color: black;
}

#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  
}

#goTopBtn:hover {
  background-color: #333;
  /* Darker shade on hover */
}

#goTopBtn i {
  font-size: 24px;
  position: relative;
  left: 2px;
  /* Increase icon size for better visibility */
}
