*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
}

.carouseldisplay
{
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.carouselimagedsp
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.overlayforcarousel
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

}

/*blog card css starts here*/

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
    transform: scale(1.1);
    opacity: .6;
}
.post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
}
.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #0047ab;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.post-module .thumbnail .date .day {
    font-size: 18px;
}
.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}
.post-module .thumbnail img {
    display: block;
    width: 120%;
    transition: all 0.3s linear 0s;
}
.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #0047ab;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}
.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #0047ab;
    font-size: 20px;
    font-weight: 400;
}
.post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}
.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}
.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}
.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}
.container2 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container2:before,
.container2:after {
    content: '';
    display: block;
    clear: both;
}
.container2 .column {
    width: 30%;
    height:100%;
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.container2 .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.container2 .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.container2 .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
.container2 .info span {
    color: #666666;
    font-size: 12px;
}
.container2 .info span a {
    color: #000000;
    text-decoration: none;
}
.container2 .info span .fa {
    color: #0047ab;
}