* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5f5;
}

body.dark-mode {
    background-color: black;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/*Custome Scroll bar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/*Hero Section Styles*/
.hero {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 130px;
}

.hero div {
    display: flex;
    padding: 80px 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;

}

h1 {
    font-weight: bold;
}

.hero h2 {
    font-size: 9vh;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: normal;
}

.hero p {
    margin-bottom: 1vw;
    line-height: 1.5;
}

.hero a {
    font-size: 1.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero img {
    position: absolute;
    left: 65vw;
    top: 10;
    margin-right: 50PX;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    overflow-x: hidden;
    scale: 0.8;
    animation: moveSideToSide 3s infinite alternate;
}



.btn {
    background-color: #333;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
  background-color: #003d80;
}
/* .navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */
.navitem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.nav-links{
    display: flex;
    justify-content: space-between;
}


/*About Section styles*/
#about {
    background-color: #f5f5f5f5;
    color: #000;
    text-align: center;
    padding: 50px;
    height: 100vh;
}



.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-content div {
    padding: 40px;
    flex: 1;
    text-align: left;
    margin: 20px;
}

.about-content div p {
    font-size: x-large;
}

.about-content .about-image {
    flex: 1;
    text-align: center;
}

.about-content .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.read-more-button {
    background-color: #22CFB9;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

section {
    padding: 50px;
    text-align: center;
}


.section-heading {
    margin-top: 45px;
    font-size: 2em;
    margin-bottom: 20px;
}

.section-content {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Styles for images */
.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}









/* Styles for Internship */
#internship {
    padding: 50px 20px;
    background: linear-gradient(135deg, #f3f2ee 0%, #f9f6f6 100%);
    transition: background-color 0.3s ease; /* Add transition for background color change */
}

/* Dark mode styles for #internship section */
body.dark-mode #internship {
    background: linear-gradient(135deg, #333333 0%, #111111 100%);
}

.section-heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease; /* Add transition for text color change */
}

body.dark-mode .section-heading{
    color: white;
}

.internship-program {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.internship-program li {
    list-style-type: none;
    width: 450px;
    height: 590px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(230, 230, 230, 0.9) 100%);
    position: relative;
    overflow: hidden;
}

body.dark-mode .internship-program li{
    color: #000;
}

.internships{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1vw;
}

.internship-program li::before,
.internship-program li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
}

.internship-program li::before {
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
}

.internship-program li::after {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    right: 0;
}

.internship-program li:hover::before,
.internship-program li:hover::after {
    opacity: 1;
}

.internship-program li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.internship-program img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.internship-program li:hover img {
    transform: scale(1.1);
}

.program-title {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease; /* Add transition for text color change */
}

.program-duration {
    font-size: 20px;
    margin-top: 10px;
    color: #666;
    transition: color 0.3s ease; /* Add transition for text color change */
}

.internship-program li:hover .program-duration {
    color: #007bff;
}

/* Additional styles for interactivity and animations */
.program-buttons {
    margin-top: 20px;
    opacity: 0; /* Hide buttons by default */
    transition: opacity 0.3s ease; /* Add transition for button opacity */
}

.internship-program li:hover .program-buttons {
    opacity: 1; /* Show buttons on hover */
}

.program-apply-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.program-apply-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.program-apply-button:active {
    background-color: #004494;
}




















.program-description {
    font-size: 16px;
    line-height: 1.2;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Verdana', sans-serif;
    color: #333;
}

.program-apply-button {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    border-radius: 4px;
    border: none;
}

.program-apply-button:hover {
    background-color: #0056b3;
    color: #fff;
    transform: translateY(-2px);
}

.program-apply-button:active {
    background-color: #003d80;
}


body.dark-mode #Services{
    color: black;
}

.section-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.section-content li {
    list-style: none;
}

/* Styles for Contact */

.fa-linkedin,
.fa-github,
.fa-envelope {
    font-size: xx-large;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 0;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.col {
    flex: 1 1 50%;
    padding: 20px;
}

.contact-image img {
    width: 80%;
    max-width: 300px;  /* Max width to ensure the image isn't too large */
    border-radius: 20px;
}

/* Contact Form */
.contact {
    width: 100%;
    max-width: 570px;
    margin: auto;
    padding: 2rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    border: 0;
    margin-bottom: 10px;
    background-color: #e7eaff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact .submit {
    width: auto;
    background-color: #fed700;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 3%
}

.contact .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #007bff;
}

#msg {
    color: #fff;
    font-size: 20px;
    margin-top: -8px;
    display: block;
}

.link {
    height: 70px;
    width: 70px;
    background-color: #f4f4f9;
    border-radius: 35px;
    text-align: center !important;
    margin: 7px;
    line-height: 80px;
    padding-left: 5px;
    padding-top: 3px;
}

.link i {
    transition: all 0.3s linear;
}

.link:hover i {
    transform: scale(1.5);
}

.youtube:hover .fab.fa-youtube {
    color: red !important;
}

.linkedin:hover .fab.fa-linkedin {
    color: rgb(47, 47, 228) !important;
}

.instagram:hover .fab.fa-instagram {
    color: #e11d74 !important;
}

.github:hover .fab.fa-github {
    color: black !important;
}

.mail:hover .fas.fa-envelope {
    color: #B23121 !important;
}

/* Styles for FAQ */

.faq {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 2rem;
}
body.dark-mode .faq{
    background: linear-gradient(135deg, #333333 0%, #111111 100%);
    color: #000;
}

.faq .container {
    max-width: 1200px;
    margin: 0 auto;
}

.faq .row {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.faq .image .faq-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    animation: moveUpDown 1.5s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
        /* Adjust the distance the image moves */
    }
}

@keyframes moveSideToSide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
        /* Adjust the distance the image moves */
    }
}


.faq .accordion-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
}

.faq .accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    /* Add a border for visual separation */
}

.faq .accordion-header {
    display: flex;
    gap: 20px;
    padding: 1rem;
    cursor: pointer;
    border-bottom: none;
    font-weight: bold;
}

.faq .accordion-header span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .accordion-header h3 {
    width: 90%;
    font-size: medium;
}

.faq .accordion-body {
    display: none;
    padding: 1rem;
    line-height: 1.5;
}

.faq .accordion-header img {
    transition: transform 0.3s ease;
    /* Add a smooth transition for the image */
}

.faq .accordion.active .accordion-header img {
    transform: rotate(360deg);
    /* Rotate the image when the accordion is active */
}


.faq .accordion.active .accordion-body {
    display: block;
}

/*Why Choose us*/
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #f5f5f5f5;
}

.table th,
.table td {
    text-align: center;
    padding: 25px 15px;
    border-bottom: 1px solid #b9b9b9;
    /* Only bottom border */
}

.table th {
    color: #333;
}

.table i.uil {
    font-size: 20px;
}

.positive-attribute {
    color: #22CFB9;
    /* Light green color */
}

.negative-attribute {
    color: #FF6347;
    /* Tomato red color */
}

/* Styles for Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

  .f1{
    padding: 3rem 1rem;
    background: rgb(56, 56, 56);
    position: relative;
    min-height: 350px;
    width: 100%;
    }
    
    .social_media:hover {
      color: yellow;
    }
    .container1 {
      max-width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .social {
      font-size: x-large;
    }
    .row1{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .col1{
      min-width: 250px;
      color:#f2f2f2f2;
      font-family: poppins;
      padding:0 2rem;
    }
    .col1 .h11 {
        color: yellow;
    }

    .col1 .logo{
      width: 100px;
      margin-bottom:25px;
    }
    .col1 h3{
        font-weight: 800;
      color: yellow;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
    }

   
    .col1 h3::after{
      content: '';
      height:2px;
      width:0px;
      background-color: rgb(208, 255, 0);
      position: absolute;
      bottom: 0;
      left:0;
      transition: 0.3s ease;
    
    }
    .col1 h3:hover::after{
      width: 35px;
    }
    .col1 .social a i{
      color:rgb(255, 255, 255);
      margin-top:2rem;
      margin-right: 5px;
      transition: 0.3s ease;
      font-size: 1.8rem;
    }
    .col1 .social a i:hover{
      transform: scale(1.5);
      color: yellow;
    }
    .col1 .links a{
        font-weight: 200;
      display: block;
      text-decoration: none;
      color:#f2f2f2;
      margin-bottom: 5px;
      position: relative;
      transition: 0.3s ease;
    }
    .col1 .links a::before{
      content:'';
      height: 16px;
      width:3px;
      position: absolute;
      top:5px;
      left:-10px;
      background-color: rgb(255, 255, 0);
      transition: 0.5s ease;
      opacity: 0;
    }
    .col1 .links a:hover::before{
      opacity: 1;
    }
    .col1 .links a:hover{
      transform: translateX(-8px);
      color:yellow;
    }
    .col1 .contact-details{
      display: inline-flex;
      justify-content: space-between;
    }
    .col1 .contact-details i{
      margin: 10px;
    }
   
    .copyright {
        color: rgb(169, 169, 169);
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 4rem;
        margin-left: 4rem;
    }
    
/* Media Queries */
@media screen and (max-width: 1030px) {
    #Services ul {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    #Services ul li {
        align-items: center;
        margin-bottom: 20px;
    }

    #Services ul li img {
        max-width: 100%;
        margin-right: 10px;
    }

    #Services ul li p {
        margin: 0;
    }
    .hero img{
        padding: 50px;
    }
}

@media screen and (max-width: 860px) {
    .hero {
        overflow: hidden;
        height: fit-content;
        padding: 50px 30px 30px 30px;
    }

    .hero div {
        padding: 50px;
    }

    .hero h2 {
        font-size: 10vw;
    }

    .hero a {
        font-size: 2.5vw;
    }

    .hero img {
        opacity: 0.8;
        display: none;
    }

    section{
        padding: 10px;
    }

    .section-heading {
        padding-top: 20px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content div p{
        font-size: 15px;
    }

    .about-content div,
    .about-content .about-image {
        width: 100%;
    }

    .section-content {
        flex-direction: column;
    }

    .section-content li {
        margin-bottom: 20px;
    }

    .internship-program li {
        width: 100%;
    }

    .internship-program .program-image {
        width: 100%;
        height: auto;
    }

    .internship-program .program-buttons {
        display: flex;
        flex-direction: row;
        font-size: x-small;
        justify-content: center;
        gap: 20px
    }














    .benefit-icon {
        height: auto;
    }

    .benefit-icon:nth-child(2) {
        width: 300%;
        height: auto;
    }

    .contact-style {
        flex-direction: column-reverse;
        align-items: center;
        padding: 15px;
    }

    .contact-style form {
        width: 100%;

    }

    .contact-style img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #internship {
        padding: 30px;
    }

    .faq {
        padding: 0;
    }

    .faq .row {
        padding: 0 1rem;
        flex-flow: column;
    }

    .faq .row .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .faq .row .accordion-container {
        width: 100%;
    }

    /* .footer-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: medium;
    } */

    .row1{
        font-size: smaller;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contact-content {
        flex-direction: column;
    }
    
    .col {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 430px) {
    p{
        font-size: 3.9vw !important;
    }

    h2{
        font-size: 8vw !important;
    }

    .hero div {
        padding: 50px 10px 10px 10px;
    }

    .hero h2 {
        font-size: 9vw !important;
    }

    .hero a {
        font-size: 3.2vw;
    }

    section {
        padding: 10px;
    }

    .section-heading {
        padding-top: 3.5vh;
    }

    .about-text{
        padding: 10px 10px 30px 10px !important;
    }

    img.aos-init.aos-animate{
        scale: 1.1 !important;
    }

    .internship-program .program-image {
        width: 100%;
        height: auto;
    }

    .internship-program .program-buttons {
        display: flex;
        flex-direction: row;
        font-size: x-small;
        justify-content: center;
        gap: 20px
    }

    .internship-program li {
        height: 530px; 
    }

    p.program-description{
        font-size: 3vw !important;
    }

    .program-apply-button {
        font-size: 2.9vw;
        padding: 8px 17px;
    }

    .contact-content {
        padding: 20px;
    }
    .faq h3{
        font-size: 3.9vw !important;
    }
}

@media screen and (max-width: 380px) {
    img.aos-init.aos-animate{
        scale: 0.8 !important;
    }

    img.faq-img{
        scale: 0.8;
    }

    img.contact-img{
        scale: 0.8;
    }
}


