.code-snippet-container {
    margin-top: 10px !important;
}

.copy-banner {
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.copy-banner span {
    font-size: 14px;
    font-weight: bold;
}

.copy-button {
    background-color: #708090;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.copy-button.copied {
    background-color: #28a745;
}

.code-container {
    margin-top: 2px;
}